{% extends "portal/layout.html" %}


{% block body %}
<div>
   <h3> Welcome, {{request.user.first_name}} </h3> 
</div>

<div style="margin-top: 30px;">
<h5>Registered Courses;</h5>

<ul class= "list-group">
    
    {% for course in courses %}
    
    {% if not courses %}
    <li class = "list-group-item">No Registered courses</li>
        
    {% endif %}
        
    <li class = "list-group-item"><a href="{% url 'course' course.course_code %}">
        {{course.course_name}} </a> 
    </li>
        
    {% endfor %}

</ul>

<div style="margin-top: 40px;">
    <a href="{% url 'all' %}">View all available courses</a>  
</div>

</div> 

    
{% endblock body %} 
    